body{
    transition: all ease-in-out 0.7s;
}
.newCreatedButton{
    border: none;
    background: blue;
    color: white;
    font-weight: 600;
    padding: 1rem 2rem;
    margin: 1rem;
}

.newCreatedButton:hover{
    cursor: pointer;
}

.flexCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}